#nav {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0%;

}

#nav1 {
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: rgb(242, 246, 249);

    margin-top: 0px;
    padding-top: 0px;

}

#nav1 img {
    width: 100%;

}

#navgap {
    height: 160px
}


#nav1 .right {
    width: 30%;

}

#nav1 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#nav2 {
    display: flex;
    justify-content: space-between;

    align-items: center;

    background-color: rgb(235, 240, 244);

}

#nav2 img {
    width: 20%;
}

#nav2>div {

    padding: 10px;
}

#nav2 #search {
    width: 650px;
    height: 40px;

}

form {
    display: flex;
}

#location {
    display: flex;

    justify-content: space-between;

}

#nav2 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#car {
    display: flex;
    align-items: center;

}

#mid1 {
    display: flex;
}

#sigin {
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    right: 20%;
    top: 14%;
    z-index: 1;
    display: none;

    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#signbtn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#cartbtn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#imgpart img {
    width: 100%;
}

#imgpart {
    display: flex;

}

#imgpart>div {
    width: 50%;
    margin-top: 20px;


}

#imgpart>div:nth-child(1) {
    width: 44%;

}

#imgpart>div:nth-child(1) {
    width: 56%;

}

#products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width:90%;

}

#products>div {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    padding: 15px;

}

#products>div:hover {
    width: 85%;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#products>div button {
    background-color: rgb(250, 110, 79);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#midcart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px
}

#midcart img {
    width: 50%
}

#midcart div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#midcart div:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#midb{
    width:300px;
    height: 40px;
    display: block;
    margin: auto;
    background-color: aliceblue;
}
#midb:hover{
background-color: rgb(25, 25, 26);
color: white;
}
#mid_ab{
display: flex;
gap:10px;
margin-top: 20px;
}
#sigin>p:hover {
background-color: darkgray;
font-size: 150%;
}
